{
	"presets": ["@babel/react", "@babel/env", "@babel/preset-typescript"],
	"ignore": ["./src/**/*.stories.tsx", "./src/**/*.spec.tsx", "./src/**/*.test.tsx"],
	"plugins": [
		"babel-plugin-transform-scss"
	]
}