$button-border-radius: 5px;

.ty-button {
	border-radius: $button-border-radius;
	cursor: pointer;
	transition: background 0;
	transition: background-color 0.2s;
	&.simple {
	  border: none;
	  outline: none;
	}
	&.outline {
	  outline: none;
	  border-style: solid;
	  background-color: transparent;
	}
	&.clear {
		border: none;
		background-color: transparent;
	}
  }
.ty-button.disabled {
	cursor: default;
}
.ty-button:not(.disabled) {
	&:focus {
		opacity: 0.95;
	}
	&:hover {
		opacity: 0.9;
	}
	&:active {
		opacity: 0.7;
	}
}