.ty-input {
	display: inline-block;
	.ty-input-wrapper {
	  position: relative;
	  border: solid 1px #e0e0e0;
	  overflow: hidden;
	  &.--border-clear {
		border: none;
	  }
	  &.--border-bottom {
		border: none;
		border-bottom: solid 1px #e0e0e0;
	  }
	  input, textarea, input:hover, textarea:hover, input:focus, textarea:focus {
		  border: none;
		  outline: none;
	  }
	}
	::-webkit-resizer {
		display: none;
		-webkit-appearance: none
	}
	// &::placeholder, ::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
	// 	opacity: 0.5;	
	// }
}