.ty-radio-button {
	.ty-radio-row {
		cursor: pointer;
	}
	.ty-radio-toggle {
		position: relative;
		border-width: 1.6px;
		border-style: solid;
		box-sizing: border-box;
		border-radius: 100%;
		overflow: hidden;
		.ty-radio-fill {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 100%;
		}
	}
}