.raz-row {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.raz-row::after,
.raz-row::before {
	display: table;
	content: ""
}

.raz-row::after {
	clear: both
}

.raz-row--flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.raz-row--flex:after,
.raz-row--flex:before {
	display: none
}

.raz-row--flex.is-justify-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.raz-row--flex.is-justify-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.raz-row--flex.is-justify-space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.raz-row--flex.is-justify-space-around {
	-ms-flex-pack: distribute;
	justify-content: space-around
}

.raz-row--flex.is-align-middle {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.raz-row--flex.is-align-bottom {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}