.raz-select {
	position: relative;
	display: inline-block;
	// i::before {
	// 	content: '\e869';
	// }
  }

  .raz-select:focus-within {
	  .raz-select__dropdown {
		display: block;
	  }
	//   i::before {
	// 	content: '\e864';
	//   }
  }
//   .dropdown-icon::before{
// 	content: '\e864';
// }
  .raz-select__dropdown {
	  display: none;
	border-radius: 4px;
	position: absolute;
	overflow-y: auto;
	background-color: #252529;
	z-index: 100;
	max-height: 150px;
	.raz-dropdown-item {
	  padding: 8px;
	  cursor: pointer;
	}
	// .raz-dropdown-item-hovered {
	//   background-color: $light;
	// }
	// .raz-dropdown-item:hover {
	//   background-color: $light;
	// }
	
  }
  .raz-select.clear {
	.raz-input-wrapper {
		background: none;
		border: none;
	}
	input {
		background: none;
	}
	input::placeholder {
		opacity: 1;
	}
  }
  .raz-select__search {
    .raz-input {
      width: 100%;
    }
  }