$colors: (
	"primary" $primary $contrast-primary $contrast-primary,
	"secondary" $secondary $contrast-primary $contrast-primary,
	"primary-light" $primary-light $contrast-primary $contrast-primary,
	"success" $success $light $light,
	"dark" $dark $light $light,
	"danger" $danger $light $light,
	"warning" $warning $light $light,
	"light" $light $light $dark,
	"shadow" $shadow $dark $dark,
	"border" $border $dark $dark,
	"contrast-primary" $contrast-primary $contrast-secondary $contrast-secondary,
	"contrast-secondary" $contrast-secondary $contrast-primary $contrast-primary,
	"text-primary" $text-primary $text-secondary $text-secondary,
	"text-secondary" $text-secondary $text-primary $text-primary,
);

@each $name, $color, $oposite, $text-color in $colors {
	.ty-color-#{$name} {
		color: $color;
	}
	.ty-outline-#{$name} {
		outline: $color auto 1px;
	}
	.ty-outline-#{$name}.ty-hoverable:not(.disable):hover {
		background-color: $color;
		color: $oposite;
	}
	.ty-bg-#{$name} {
		background-color: $color;
		color: $text-color;
	}
	.ty-border-color-#{$name} {
		border-color: $color !important;
	}
}

.ty-bg-unset {
	background-color: unset;
	color: $dark;
}

//button colors
.ty-button:not(.disabled) {
	&:hover {
		@each $name, $color, $oposite, $text-color in $colors {
			&.ty-bg-#{$name} {
				background-color: lighten($color, 5%);
			}
			&.ty-color-#{$name}, &.ty-border-color-#{$name} {
				opacity: 0.9;
			}
			&::placeholder, ::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
				opacity: 0.5;	
			}
		}
	}
	&:active {
		@each $name, $color, $oposite, $text-color in $colors {
			&.ty-bg-#{$name} {
				background-color: lighten($color, 10%);
			}
			&.ty-color-#{$name}, &.ty-border-color-#{$name} {
				opacity: 0.7;
			}
		}
	}
}

.disabled {
	@each $name, $color, $oposite, $text-color in $colors {
		&.ty-color-#{$name} {
			color: $color;
			opacity: 0.5;
		}
		&.ty-outline-#{$name} {
			outline: $color auto 1px;
			opacity: 0.5;
		}
		&.ty-outline-#{$name}.ty-hoverable:not(.disable):hover {
			background-color: $color;
			color: $oposite;
			opacity: 0.5;
		}
		&.ty-bg-#{$name} {
			background-color: $color;
			color: $text-color;
			opacity: 0.5;
		}
		&.ty-border-color-#{$name} {
			border-color: $color;
			opacity: 0.5;
		}
	}
}

$i: 0;
@while $i < 1 {
	.ty-opacity-#{$i*100} {
		opacity: #{$i};
	}
  $i: $i + 0.05;
}