$colors: (
	"primary"	#4895EF	#FFFFFF,
	"secondary"	#536EEF	#FFFFFF,
	"success"	#20ce66	#FFFFFF,
	"warning"	#FCD300	#F7F9FB,
	"danger"	#FD3F67	#F7F9FB,
	"card"	#323236	#aaaab3,
	"input" #28282b #FFFFFF,
	"text"	#aaaab3	#292D32,
	"text-opacity"	#999	#292D32,
	"gray"	#A0AFB4	#434343,
	"shadow"	rgba(240,242,246,0.8)	#292D32,
	"dark"	#232326	#aaaab3,
	"darker" #19191b #FFFFFF,
	"light"	#F7F9FB	#292D32,
	"border"	#404046	#292D32,
	"transparent"	transparent	#292D32,
);

@each $name, $color, $oposite in $colors {
	.raz-color-#{$name} {
		color: $color;
		stroke: $color;
	}
	.raz-outline-#{$name}, .raz-hover-outline-#{$name}:active, .raz-hover-outline-#{$name}:hover, .raz-hover-outline-#{$name}:focus-within {
		outline: $color auto 1px;
	}
	.raz-bg-#{$name}, .raz-outline-#{$name}.raz-hoverable:not(.disable):hover {
		background-color: $color;
		color: $oposite;
	}
	.raz-border-color-#{$name} {
		border-color: $color !important;
	}
}
.raz-shadow {
	box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.raz-color-rating {
	color: #FFA800;
}

.disabled {
	opacity: 0.5;
}

$i: 0;
@while $i < 1 {
	.raz-opacity-#{$i*100} {
		opacity: #{$i};
	}
  $i: $i + 0.1;
}