@font-face {
  font-family: 'ty-icon';
  src: url('https://static.ty-sb1.tayeh.ir/tayeh-panel/assets/fonts/ty-sax/ty-icon.eot');
  src: url('https://static.ty-sb1.tayeh.ir/tayeh-panel/assets/fonts/ty-sax/ty-icon.eot?50297747#iefix') format('embedded-opentype'),
    url('https://static.ty-sb1.tayeh.ir/tayeh-panel/assets/fonts/ty-sax/ty-icon.woff2') format('woff2'),
    url('https://static.ty-sb1.tayeh.ir/tayeh-panel/assets/fonts/ty-sax/ty-icon.woff') format('woff'),
    url('https://static.ty-sb1.tayeh.ir/tayeh-panel/assets/fonts/ty-sax/ty-icon.ttf') format('truetype'),
    url('https://static.ty-sb1.tayeh.ir/tayeh-panel/assets/fonts/ty-sax/ty-icon.svg?50297747#fontello') format('svg');
  font-weight: normal;
  font-style: normal;

  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ty-icon {
  font-family: 'ty-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  span {
	  font-size: 0;
  }
}

.ty-icon-activity:before { content: '\e800'; } /* '' */
.ty-icon-add:before { content: '\e801'; } /* '' */
.ty-icon-add-circle:before { content: '\e802'; } /* '' */
.ty-icon-add-square:before { content: '\e803'; } /* '' */
.ty-icon-archive:before { content: '\e804'; } /* '' */
.ty-icon-arrow-down:before { content: '\e805'; } /* '' */
.ty-icon-arrow-left:before { content: '\e806'; } /* '' */
.ty-icon-arrow-right:before { content: '\e807'; } /* '' */
.ty-icon-arrow-up:before { content: '\e808'; } /* '' */
.ty-icon-bag:before { content: '\e809'; } /* '' */
.ty-icon-bag-cross:before { content: '\e80a'; } /* '' */
.ty-icon-bag-tick:before { content: '\e80b'; } /* '' */
.ty-icon-bag-timer:before { content: '\e80c'; } /* '' */
.ty-icon-barcode:before { content: '\e80d'; } /* '' */
.ty-icon-box:before { content: '\e80e'; } /* '' */
.ty-icon-call:before { content: '\e80f'; } /* '' */
.ty-icon-camera:before { content: '\e810'; } /* '' */
.ty-icon-candle:before { content: '\e811'; } /* '' */
.ty-icon-card:before { content: '\e812'; } /* '' */
.ty-icon-category:before { content: '\e813'; } /* '' */
.ty-icon-chart:before { content: '\e814'; } /* '' */
.ty-icon-clock:before { content: '\e815'; } /* '' */
.ty-icon-close-circle:before { content: '\e816'; } /* '' */
.ty-icon-close-square:before { content: '\e817'; } /* '' */
.ty-icon-coin:before { content: '\e818'; } /* '' */
.ty-icon-crown:before { content: '\e819'; } /* '' */
.ty-icon-crown-cross:before { content: '\e81a'; } /* '' */
.ty-icon-diamonds:before { content: '\e81b'; } /* '' */
.ty-icon-dislike:before { content: '\e81c'; } /* '' */
.ty-icon-dollar-circle:before { content: '\e81d'; } /* '' */
.ty-icon-dollar-square:before { content: '\e81e'; } /* '' */
.ty-icon-edit:before { content: '\e81f'; } /* '' */
.ty-icon-edit-line:before { content: '\e820'; } /* '' */
.ty-icon-emoji-normal:before { content: '\e821'; } /* '' */
.ty-icon-emoji-sad:before { content: '\e822'; } /* '' */
.ty-icon-empty-wallet:before { content: '\e823'; } /* '' */
.ty-icon-eye:before { content: '\e824'; } /* '' */
.ty-icon-eye-slash:before { content: '\e825'; } /* '' */
.ty-icon-frame:before { content: '\e826'; } /* '' */
.ty-icon-gallery:before { content: '\e827'; } /* '' */
.ty-icon-gallery-add:before { content: '\e828'; } /* '' */
.ty-icon-gift:before { content: '\e829'; } /* '' */
.ty-icon-graph:before { content: '\e82a'; } /* '' */
.ty-icon-happyemoji:before { content: '\e82b'; } /* '' */
.ty-icon-heart:before { content: '\e82c'; } /* '' */
.ty-icon-info-circle:before { content: '\e82d'; } /* '' */
.ty-icon-like:before { content: '\e82e'; } /* '' */
.ty-icon-location:before { content: '\e82f'; } /* '' */
.ty-icon-lock:before { content: '\e830'; } /* '' */
.ty-icon-lock-ellipsis:before { content: '\e831'; } /* '' */
.ty-icon-logout:before { content: '\e832'; } /* '' */
.ty-icon-maximize:before { content: '\e833'; } /* '' */
.ty-icon-menu:before { content: '\e834'; } /* '' */
.ty-icon-minus:before { content: '\e835'; } /* '' */
.ty-icon-minus-cirlce:before { content: '\e836'; } /* '' */
.ty-icon-minus-square:before { content: '\e837'; } /* '' */
.ty-icon-more:before { content: '\e838'; } /* '' */
.ty-icon-more-circle:before { content: '\e839'; } /* '' */
.ty-icon-notification:before { content: '\e83a'; } /* '' */
.ty-icon-percentage-circle:before { content: '\e83b'; } /* '' */
.ty-icon-percentage-square:before { content: '\e83c'; } /* '' */
.ty-icon-profile-circle:before { content: '\e83d'; } /* '' */
.ty-icon-receipt-discount:before { content: '\e83e'; } /* '' */
.ty-icon-receipt-disscount:before { content: '\e83f'; } /* '' */
.ty-icon-receipt-item:before { content: '\e840'; } /* '' */
.ty-icon-scan:before { content: '\e841'; } /* '' */
.ty-icon-scan-barcode:before { content: '\e842'; } /* '' */
.ty-icon-scanning:before { content: '\e843'; } /* '' */
.ty-icon-search-normal:before { content: '\e844'; } /* '' */
.ty-icon-search-zoom-in:before { content: '\e845'; } /* '' */
.ty-icon-search-zoom-out:before { content: '\e846'; } /* '' */
.ty-icon-setting:before { content: '\e847'; } /* '' */
.ty-icon-share:before { content: '\e848'; } /* '' */
.ty-icon-shop:before { content: '\e84a'; } /* '' */
.ty-icon-shop-add:before { content: '\e84b'; } /* '' */
.ty-icon-shopping-cart:before { content: '\e84c'; } /* '' */
.ty-icon-shop-remove:before { content: '\e84d'; } /* '' */
.ty-icon-sms:before { content: '\e84e'; } /* '' */
.ty-icon-sms-edit:before { content: '\e84f'; } /* '' */
.ty-icon-sms-notification:before { content: '\e850'; } /* '' */
.ty-icon-sms-tracking:before { content: '\e851'; } /* '' */
.ty-icon-star:before { content: '\e853'; } /* '' */
.ty-icon-tag:before { content: '\e854'; } /* '' */
.ty-icon-tag-line:before { content: '\e855'; } /* '' */
.ty-icon-tick-circle:before { content: '\e856'; } /* '' */
.ty-icon-ticket:before { content: '\e857'; } /* '' */
.ty-icon-ticket-discount:before { content: '\e858'; } /* '' */
.ty-icon-trash:before { content: '\e859'; } /* '' */
.ty-icon-trend-down:before { content: '\e85a'; } /* '' */
.ty-icon-trend-up:before { content: '\e85b'; } /* '' */
.ty-icon-truck:before { content: '\e85c'; } /* '' */
.ty-icon-truck-fast:before { content: '\e85d'; } /* '' */
.ty-icon-unlock:before { content: '\e85e'; } /* '' */
.ty-icon-activity-outline:before { content: '\e85f'; } /* '' */
.ty-icon-add-circle-outline:before { content: '\e860'; } /* '' */
.ty-icon-add-outline:before { content: '\e861'; } /* '' */
.ty-icon-add-square-outline:before { content: '\e862'; } /* '' */
.ty-icon-archive-outline:before { content: '\e863'; } /* '' */
.ty-icon-arrow-down-outline:before { content: '\e864'; } /* '' */
.ty-icon-arrow-left-outline:before { content: '\e865'; } /* '' */
.ty-icon-arrow-left-tail-outline:before { content: '\e866'; } /* '' */
.ty-icon-arrow-right-outline:before { content: '\e867'; } /* '' */
.ty-icon-arrow-right-tail-outline:before { content: '\e868'; } /* '' */
.ty-icon-arrow-up-outline:before { content: '\e869'; } /* '' */
.ty-icon-bag-cross-outline:before { content: '\e86a'; } /* '' */
.ty-icon-bag-outline:before { content: '\e86b'; } /* '' */
.ty-icon-bag-tick-outline:before { content: '\e86c'; } /* '' */
.ty-icon-bag-timer-outline:before { content: '\e86d'; } /* '' */
.ty-icon-barcode-outline:before { content: '\e86e'; } /* '' */
.ty-icon-box-outline:before { content: '\e86f'; } /* '' */
.ty-icon-call-outline:before { content: '\e870'; } /* '' */
.ty-icon-camera-outline:before { content: '\e871'; } /* '' */
.ty-icon-candle-outline:before { content: '\e872'; } /* '' */
.ty-icon-card-outline:before { content: '\e873'; } /* '' */
.ty-icon-category-outline:before { content: '\e874'; } /* '' */
.ty-icon-chart-outline:before { content: '\e875'; } /* '' */
.ty-icon-clock-outline:before { content: '\e876'; } /* '' */
.ty-icon-close-circle-outline:before { content: '\e877'; } /* '' */
.ty-icon-close-square-outline:before { content: '\e878'; } /* '' */
.ty-icon-coin-outline:before { content: '\e879'; } /* '' */
.ty-icon-crown-outline:before { content: '\e87a'; } /* '' */
.ty-icon-crown-slim-outline:before { content: '\e87b'; } /* '' */
.ty-icon-diamonds-outline:before { content: '\e87c'; } /* '' */
.ty-icon-dislike-outline:before { content: '\e87d'; } /* '' */
.ty-icon-dollar-circle-outline:before { content: '\e87e'; } /* '' */
.ty-icon-dollar-square-outline:before { content: '\e87f'; } /* '' */
.ty-icon-edit-line-outline:before { content: '\e880'; } /* '' */
.ty-icon-edit-outline:before { content: '\e881'; } /* '' */
.ty-icon-emoji-normal-outline:before { content: '\e882'; } /* '' */
.ty-icon-emoji-sad-outline:before { content: '\e883'; } /* '' */
.ty-icon-empty-wallet-outline:before { content: '\e884'; } /* '' */
.ty-icon-eye-outline:before { content: '\e885'; } /* '' */
.ty-icon-eye-slash-outline:before { content: '\e886'; } /* '' */
.ty-icon-frame-outline:before { content: '\e887'; } /* '' */
.ty-icon-gallery-add-outline:before { content: '\e888'; } /* '' */
.ty-icon-gallery-outline:before { content: '\e889'; } /* '' */
.ty-icon-gift-outline:before { content: '\e88a'; } /* '' */
.ty-icon-grammerly-outline:before { content: '\e88b'; } /* '' */
.ty-icon-graph-outline:before { content: '\e88c'; } /* '' */
.ty-icon-heart-outline:before { content: '\e88d'; } /* '' */
.ty-icon-info-circle-outline:before { content: '\e88e'; } /* '' */
.ty-icon-like-outline:before { content: '\e88f'; } /* '' */
.ty-icon-location-outline:before { content: '\e890'; } /* '' */
.ty-icon-lock-ellipsis-outline:before { content: '\e891'; } /* '' */
.ty-icon-lock-outline:before { content: '\e892'; } /* '' */
.ty-icon-logout-outline:before { content: '\e893'; } /* '' */
.ty-icon-maximize-outline:before { content: '\e894'; } /* '' */
.ty-icon-menu-outline:before { content: '\e895'; } /* '' */
.ty-icon-minus-cirlce-outline:before { content: '\e896'; } /* '' */
.ty-icon-minus-outline:before { content: '\e897'; } /* '' */
.ty-icon-minus-square-outline:before { content: '\e898'; } /* '' */
.ty-icon-more-circle-outline:before { content: '\e899'; } /* '' */
.ty-icon-more-outline:before { content: '\e89a'; } /* '' */
.ty-icon-notification-outline:before { content: '\e89b'; } /* '' */
.ty-icon-percentage-circle-outline:before { content: '\e89c'; } /* '' */
.ty-icon-percentage-square-outline:before { content: '\e89d'; } /* '' */
.ty-icon-profile-circle-outline:before { content: '\e89e'; } /* '' */
.ty-icon-receipt-discount-outline:before { content: '\e89f'; } /* '' */
.ty-icon-receipt-disscount-outline:before { content: '\e8a0'; } /* '' */
.ty-icon-receipt-item-outline:before { content: '\e8a1'; } /* '' */
.ty-icon-received-outline:before { content: '\e8a2'; } /* '' */
.ty-icon-scan-barcode-outline:before { content: '\e8a3'; } /* '' */
.ty-icon-scanning-outline:before { content: '\e8a4'; } /* '' */
.ty-icon-scan-outline:before { content: '\e8a5'; } /* '' */
.ty-icon-search-normal-outline:before { content: '\e8a6'; } /* '' */
.ty-icon-search-zoom-in-outline:before { content: '\e8a7'; } /* '' */
.ty-icon-search-zoom-out-outline:before { content: '\e8a8'; } /* '' */
.ty-icon-send-outline:before { content: '\e8a9'; } /* '' */
.ty-icon-setting-outline:before { content: '\e8aa'; } /* '' */
.ty-icon-share-outline:before { content: '\e8ab'; } /* '' */
.ty-icon-shop-add-outline:before { content: '\e8ac'; } /* '' */
.ty-icon-shop-outline:before { content: '\e8ad'; } /* '' */
.ty-icon-shopping-cart-outline:before { content: '\e8ae'; } /* '' */
.ty-icon-shop-remove-outline:before { content: '\e8af'; } /* '' */
.ty-icon-sms-edit-outline:before { content: '\e8b0'; } /* '' */
.ty-icon-sms-notification-outline:before { content: '\e8b1'; } /* '' */
.ty-icon-sms-outline:before { content: '\e8b2'; } /* '' */
.ty-icon-sms-tracking-outline:before { content: '\e8b3'; } /* '' */
.ty-icon-star-outline:before { content: '\e8b4'; } /* '' */
.ty-icon-tag-line-outline:before { content: '\e8b5'; } /* '' */
.ty-icon-tag-outline:before { content: '\e8b6'; } /* '' */
.ty-icon-tick-circle-outline:before { content: '\e8b7'; } /* '' */
.ty-icon-ticket-discount-outline:before { content: '\e8b8'; } /* '' */
.ty-icon-ticket-outline:before { content: '\e8b9'; } /* '' */
.ty-icon-trash-outline:before { content: '\e8ba'; } /* '' */
.ty-icon-trend-down-outline:before { content: '\e8bb'; } /* '' */
.ty-icon-trend-up-outline:before { content: '\e8bc'; } /* '' */
.ty-icon-truck-fast-outline:before { content: '\e8bd'; } /* '' */
.ty-icon-truck-outline:before { content: '\e8be'; } /* '' */
.ty-icon-unlock-outline:before { content: '\e8bf'; } /* '' */