@import './var';
@import './iconfont';
@import './shared';
@import './mixins/index';
@import './utilities/utilities';

body.--hide-overflow {
  overflow: hidden !important;
}

.nocursor {
  cursor: none;
}

.nocaret {
  caret-color: transparent;
}