.raz-flex {
	display: flex;
	&.raz-flex-col {
		flex-direction: column;
	}
	&.raz-flex-col-reversed {
		flex-direction: column-reverse;
	}
	&.raz-flex-row {
		flex-direction: row;
	}
	&.raz-flex-row-reversed {
		flex-direction: row-reverse;
	}
	&.align-items-start {
		align-items: flex-start;
	}
	&.align-items-end {
		align-items: flex-end;
	}
	&.align-items-center {
		align-items: center;
	}
	&.align-items-baseline {
		align-items: baseline;
	}
	&.align-items-stretch {
		align-items: stretch;
	}
}
.raz-flex-wrap {
	flex-wrap: wrap;
}
.raz-justify-center {
	justify-content: center;
}
.raz-space-between {
	justify-content: space-between;
}
.raz-space-around {
	justify-content: space-around;
}
.raz-space-evenly {
	justify-content: space-evenly;
}
.raz-border-right {
	border-right-style: solid;
	border-right-width: 1px;
}
.raz-border-left {
	border-left-style: solid;
	border-left-width: 1px;
}
.raz-border-top {
	border-top-style: solid;
	border-top-width: 1px;
}
.raz-border-bottom {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.raz-destroy {
	display: none;
}
.raz-hide {
	opacity: 0;
}
.raz-relative {
	position: relative;
}

.raz-sticky {
	position: sticky;
}
.raz-border {
	border: 1px solid;
	display: inline-block;
}

@for $size from 1 to 20 {
	.bw-#{$size} {
		border-width: #{$size}px;
	}
}