$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// $primary: #4895EF;
// $secondary: #536EEF;
// $success: #20ce66;
// $warning: #FCD300;
// $danger: #FD3F67;
// $contrast-primary: #FFFFFF;
// $contrast-secondary: #404040;
// $text: #434343;
// $gray: #A0AFB4;
// $santas-gray: #9BA0B6;
// $shadow: rgba(240, 242, 246, 0.8);
// $dark: #292D32;
// $light: #F7F9FB;
// $border: #E8ECED;

//name					color					opposit
// $dark-primary: #3772FF;
// $dark-secondary: #B0C4FF;
// $dark-success: #20ce66;
// $dark-warning: #FCD300;
// $dark-danger: #FD3F67;
// $dark-contrast-primary: #232631;
// $dark-contrast-secondary: #FFF;
// $dark-text: #FFF;
// $dark-gray: #99A8BC;
// $dark-santas-gray: $dark-gray;
// $dark-shadow: rgba(0,0,0,0.1);
// $dark-dark: #000;
// $dark-light: #141A1F;
// $dark-border: #E8ECED;