{
	"presets": [["minify", { "builtIns": false }], "@babel/react", "@babel/env", "@babel/preset-typescript"],
	"ignore": ["**/*.test.tsx", "**/*.spec.tsx", "**/*.stories.tsx"],
	"plugins": ["babel-plugin-transform-scss", "@babel/plugin-transform-modules-commonjs"]
}